body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}


.navbar-brand h1 { /* Site name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

#headerText {
  font-family: 'Lora', serif;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 15px;
  line-height: .75;
  
}

#chicken-link:hover, #beef-link:hover, #sushi-link:hover {
    background-color: #E7E8E7;
}

.section {
    height: 500px;
    overflow: hidden;
    margin-bottom: 33px;
}


.sectionTitle {
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-size: 1.5em;
    position: relative;
    padding: 15px;
}

.sectionText {
    padding: 0 15px 15px;
}


.chickenTitle {
    background-color:#557c3e 
}

.beefTitle {
    background-color: #557c3e
}

.sushiTitle {
    background-color: #557c3e
}



